/* You can add global styles to this file, and also import other style files */


 html body {
  margin: 0;
  // line-height: 1;
  position: relative;
  height: 100vh;
  font-family: 'Raleway', sans-serif;
}

.available-content-height {
  flex: 1 1 auto;
}

.cursor-pointer {
  cursor: pointer;
}
