 <div class="page-background h-100 d-flex flex-column">
   <div>
     <h1 class="page-heading text-center">My Resume</h1>
   </div>
   <div class="container available-content-height">
    <div class="row h-100 position-relative m-0 pt-4 bg-white">
      <div class="col-3 h-100">
        <!-- <div class="image-bg"> -->
          <div class="profile-image">

          </div>
          <div class="d-flex align-items-center ml-30">
            <i class="fa fa-envelope icon-color"></i>
            <span class="icon-title pl-2">{{userData.email}}</span>
          </div>
          <div class="d-flex align-items-center ml-30">
            <i class="fa fa-mobile icon-color mobile-size"></i>
            <span class="icon-title pl-2">{{userData.phone}}</span>
          </div>
          <section class="py-3 ml-30">
            <div class="d-flex justify-content-between align-items-center custom-border-bottom-2px">
              <h2 class="section-header">SKILLS</h2>
              <span class="icon-color cursor-pointer" (click)="addingNewSkill = true">
                <i  class="fa fa-plus"></i>
              </span>
            </div>
            <div class="py-3 d-flex flex-wrap align-items-center">
              <ng-container  *ngFor="let skill of skills">
                <span class="skill-style">{{skill.name}}</span>
              </ng-container>
            </div>
            <div class="input-group mb-3 pt-2" *ngIf="addingNewSkill">
              <!-- <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">@</span>
              </div> -->
              <input type="text" [(ngModel)]="newSkillName" autofocus class="form-control" placeholder="Angular" aria-label="Username" aria-describedby="basic-addon1">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="addNewSkill()">Save</button>
              </div>
            </div>
          </section>
        <!-- </div> -->
      </div>
      <div class="col-9 h-100 pr-0">
        <div class="profile-basic-info pl-3 w-100">
          <h1 class="user-name">{{userData.name}}</h1>
          <h2 class="user-designation">{{userData.jobName}}</h2>
          <!-- <div class="w-100"> -->
            <div class="custom-border-bottom"></div>
          <!-- </div> -->
          <div class="user-description">{{userData.jobDescription}}</div>
        </div>
        <section class="pr-4">
          <div class="d-flex justify-content-between custom-border-bottom-2px pt-4 pr-2">
            <h3 class="section-header">Academic Details</h3>
            <span class="icon-color cursor-pointer" (click)="addingAcademicCredentials = true">
              <i class="fa fa-plus"></i>
            </span>
          </div>
          <div class="pt-2 row">
            <ng-container *ngFor="let item of academicDetails; let index=index">
              <div class="col-lg-6 position-relative">
                <div class="card w-100 position-relative">
                  <span  class="remove-icon cursor-pointer" (click)="removeQualification(index)">
                    <i class="fa fa-close"></i>
                  </span>
                  <div class="card-body">
                    <!-- <div class="d-flex justify-content-between align-items-center"> -->
                      <h5 class="card-title font-weight-bold">{{item.qualification}}</h5>
                    <!-- </div> -->
                    <p class="card-text">
                      <span class="font-weight-bold">
                        Institution:
                      </span>
                      {{item.institutionName}}</p>
                    <p class="card-text">
                      <span class="font-weight-bold">YOP:&nbsp;</span>
                      {{item.yop}}</p>
                    <p class="card-text">
                      <span class="font-weight-bold">
                        city/country:&nbsp;
                      </span>
                      {{item.city}}</p>
                    <!-- <p class="card-text">YOP: {{item.yop}}</p> -->
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
          <form class="pt-2 w-100" *ngIf="addingAcademicCredentials" [formGroup]="academicForm">
            <div class="input-group mb-3">
              <input type="text" class="form-control" autofocus formControlName="institutionName" placeholder="Name of the Institution">
            </div>
            <div class="input-group mb-3">
              <input type="text" class="form-control" formControlName="qualification" placeholder="Qualification">
            </div>
            <div class="input-group mb-3">
              <input type="text" class="form-control" formControlName="yop" placeholder="Year of passign">
            </div>
            <div class="input-group mb-3">
              <input type="text" class="form-control" formControlName="city" placeholder="City or Country">
            </div>
            <!-- <div class="input-group mb-3">
              <input type="text" class="form-control" formControlName="achievement" placeholder="write your top achievement">
            </div> -->
            <div class="d-flex justify-content-end">
              <!-- <div class="pr-3"> -->
                <button type="button" class="btn btn-outline-danger mr-3" (click)="cancelAddQualification()">Cancel</button>
              <!-- </div> -->
              <!-- <div> -->
                <button type="submit" [disabled]="!academicForm.valid" (click)="saveAcademicData()" class="btn btn-primary">Save</button>
              <!-- </div> -->
            </div>
          </form>
        </section>
      </div>
    </div>
  </div>
 </div>
