 <div class="page-background h-100 d-flex flex-column">
   <div>
     <h1 class="page-heading text-center">My Resume</h1>
   </div>
   <div class="container available-content-height">
    <div class="row h-100 position-relative m-0 pt-4 bg-white">
      <div class="col-3 h-100">
        <!-- <div class="image-bg"> -->
          <div class="profile-image">

          </div>
          <div class="d-flex align-items-center ml-30">
            <i class="fa fa-envelope icon-color"></i>
            <span class="icon-title pl-2">sunith.kumar@gmail.com</span>
          </div>
          <div class="d-flex align-items-center ml-30">
            <i class="fa fa-mobile icon-color mobile-size"></i>
            <span class="icon-title pl-2">Phone Number</span>
          </div>
          <section class="py-3 ml-30">
            <h2 class="section-heading">SKILLS</h2>
          </section>
        <!-- </div> -->
      </div>
      <div class="col-9 h-100 pr-0">
        <div class="profile-basic-info pl-3 w-100">
          <h1 class="user-name">Sunith Kumar</h1>
          <h2 class="user-designation">Front end developer</h2>
          <!-- <div class="w-100"> -->
            <div class="custom-border-bottom"></div>
          <!-- </div> -->
          <div class="user-description">Short and engaging pitch about yourself.</div>
        </div>
      </div>
    </div>
  </div>
 </div>
